<html>
  <head>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>

      <tr>
        Username:<td><p>{{.Username}}</p></td>
        Password:<td><p>{{.Password}}</p></td>
        UUID:<td><p>{{.UUID}}</p></td>
      </tr>

  </body>
</html>
